<p>data-binding works!</p>

<div align="center">
  <!-- one way data binding -->
  <h4>One way data binding</h4>
  <div>
    <p>1. Interpolation</p>
    <p>My name is {{ name }}</p>
  </div>
  <div>
    <p>2. Property Binding</p>
    <input type="text" name="" [value]="profession" />
    <div>
      <img [src]="image" alt="" />
    </div>
  </div>
  <div>
    <p>3. Event Binding</p>
    <button (click)="onSave()">Save</button>
    <select (change)="onChange()">
      <option value="Country">Country</option>
      <option value="Indonesia">Indonesia</option>
      <option value="Singapore">Singapore</option>
      <option value="Malaysia">Malaysia</option>
      <option value="Japan">Japan</option>
    </select>
  </div>
  <!-- end of one way data binding -->

  <!-- two way data binding -->
  <h4>Two way data binding</h4>
  <div>
    <input type="text" [(ngModel)]="profession" />
    {{ profession }}
  </div>
</div>
