<div class="row text-center">
  <div class="col-12 m-3">
    <b>Example of *ngIf vs if</b>
  </div>
</div>

<div class="row text-center">
  <div class="col-4">
    <div (click)="onClick()">
      <input type="checkbox" /> Terms and conditions
    </div>
    <div *ngIf="isChecked"><button class="btn btn-success">Submit</button></div>
  </div>
  <div class="col-4">
    <div class="m-2" *ngIf="isInputBox">
      <input type="text" value="Najibullah learning" />
    </div>
    <button class="btn btn-primary m-2" (click)="showField()">Show</button>
    <button class="btn btn-danger m-2" (click)="hideField()">Hide</button>
  </div>
  <div class="col-4"></div>
</div>
